<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Información Climatológica de</h3>
    <h4> {{place}} </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="charts" class="row">
      <div class="col-md-6">
        <h4> Detalles </h4>
        <h6> Búsqueda según realizada con base en el nombre de la locación. </h6>
        <table border="0">
          <tr>
            <td>Temperatura Promedio:&nbsp;</td>
            <td>{{averageTemperature}}</td>
          </tr>
          <tr>
            <td>Temperatura Máxima:&nbsp; </td>
            <td>{{maxTemperature}}</td>
          </tr>
          <tr>
            <td>Temperatura Mínima:&nbsp;</td>
            <td>{{minTemperature}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <canvas id="weatherChart" width="500" height="300"></canvas>
      </div>
      <div class="col-md-6">
        <table border="0">
          <tr>
            <td>XML</td>
            <td>CSV</td>
            <td>JSON</td>
          </tr>
          <tr>
            <td><button type="submit" id="xml" class="button btn-primary">XML</button></td>
            <td><button type="submit" id="csv" class="button btn-primary">CSV</button></td>
            <td><button type="submit" id="json" class="button btn-primary">JSON</button></td>
          </tr>          
        </table>
      </div>
    </div>
  </div>
</div>

<div id="modal-panel" class="popup-basic bg-none mfp-with-anim mfp-hide">
  <div class="panel">
    <div class="panel-heading">
      <span class="panel-icon">
        
      </span>
      <span class="panel-title">
        Información climatológica
      </span>
    </div>
    <div class="panel-body">
      <table class="table table-bordered mbn">
        <thead>
          <tr>
            <th colspan="2">Variables </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><label>Descripción</label></td>
            <td>{{description}}</td>
          </tr>
    
          <tr>
            <td><label>Temperatura</label></td>
            <td>{{temperature}} ºC</td>
          </tr>
          
          <tr>
            <td><label>Humedad</label></td>
            <td>{{humidity}}% HR</td>
          </tr>
          
          <tr>
            <td><label>Presión</label></td>
            <td>{{pressure}} hP</td>
          </tr>
          
          <tr>
            <td><label>Proveedores</label></td>
            <td>
              <ul>
              {{#each provider}}
                <li>{{this}}</li>
              {{/each}}
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
      
    </div><!--ENDOF PANEL-BODY -->
  </div>
</div>
